.footer1{
    background-color: rgb(48, 52, 58);
    height: 40px;
    margin-top: 47%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.madhu{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
}